:root {
  --font-color: #4d4e53;
  --heading-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: var(--font-color);
  font-size: 16px;
}

h1,h2 {
  color: var(--heading-color);
  font-weight: 400;
  font-size: 29px;
}

h1 {
  padding: 15px 30px;
}

a {
 text-decoration: none; 
 color: var(--font-color);
 display: inline-block;
 padding: 10px 30px;
 width: 100%;
 border-top: 1px solid #000;
}

.navbar ul {
  list-style: none;
}

.page-container {
  display: flex;
  height: 100%;
}

.navbar {
  width: 22%;
  min-width: 280px;
  height: 100vh;
  border-right: 1px solid #000;
  position: sticky;
  top: 0;
  left: 0;
}

.main-doc {
  width: 78%;
  padding: 30px;
}

.main-section ul {
  padding-left: 60px;
}

.main-section ul li {
  margin: 20px 0;
}

.main-section p {
  margin: 15px 0;
}

.text-container {
  padding: 0 15px;
}

.code-container {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 5px;
  margin: 0 10px;
}

.code-container code {
  display: block;
  font-size: 13px;
  margin: 5px 0;
}